#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q      &kp W  &kp E  &kp R  &kp T        &kp LS(LC(B))          &kp DELETE       &kp Y      &kp U      &kp I        &kp O          &kp P
&kp A      &kp S  &kp D  &kp F  &kp G        &kp CAPSLOCK                            &kp H      &kp J      &kp K        &kp L          &kp ENTER
&kp Z      &kp X  &kp C  &kp V  &kp B        &kp LEFT_WIN                            &kp N      &kp M      &kp COMMA    &kp PERIOD     &kp LEFT_SHIFT
&kp LCTRL                       &lt 1 SPACE  &lt 2 INTERNATIONAL_5  &lt 3 BACKSPACE  &mkp LCLK  &mkp RCLK  &kp AT_SIGN  &kp RIGHT_ALT  &kp ESCAPE
            >;
        };

        layer_1 {
            bindings = <
&none      &kp LA(LEFT)  &kp UP     &kp LA(RIGHT)  &kp PAGE_UP    &kp LC(LS(B))  &kp DELETE     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp SLASH     &kp EQUAL
&kp TAB    &kp LEFT      &kp DOWN   &kp RIGHT      &kp PAGE_DOWN  &kp CLCK                      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6   &kp ASTERISK  &kp ENTER
&kp LC(Z)  &kp LC(X)     &kp LC(C)  &kp LC(V)      &kp LC(Y)      &kp LWIN                      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp MINUS     &kp RIGHT_SHIFT
&kp LCTRL                                          &none          &none          &kp BACKSPACE  &kp NUMBER_0  &kp PERIOD    &kp LS(EQUAL)  &kp PLUS      &kp LC(RA(DELETE))
            >;
        };

        layer_2 {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp AMPERSAND  &kp SQT        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL      &kp TILDE      &kp PIPE
&kp F7           &kp F8             &kp F9    &kp F10     &kp F11      &kp F12                       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SEMICOLON  &kp COLON      &kp ENTER
&kp F1           &kp F2             &kp F3    &kp F4      &kp F5       &kp F6                        &kp LESS_THAN         &kp GREATER_THAN       &kp SLASH      &kp BACKSLASH  &kp RIGHT_SHIFT
&kp LCTRL                                                 &none        &none          &kp BACKSPACE  &mkp LCLK             &mkp RCLK              &kp AT_SIGN    &kp RIGHT_ALT  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none              &none              &none  &none  &none  &none         &none         &none         &none         &none
&none  &none  &mmv MOVE_X(100)   &mmv MOVE_Y(100)   &none  &none         &none         &none         &none         &none         &none
&none  &none  &mmv MOVE_X(-100)  &mmv MOVE_Y(-100)  &none  &none         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none                                               &none  &none  &none  &none         &none         &none         &none         &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mo 7   &mkp LCLK  &mkp RCLK  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_10 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
